/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

.lobby {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: url(desktop_lobby.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .lobby {
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        background: url(phone_lobby.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

img {
    max-height: 100px;
    max-width: 100px;
    height: 10vh;
    width: 10vh;
}

h2,
p {
    font-weight: normal;
}

li {
    list-style: none;
    padding: 0.5em;
}

Grid {
    overflow: hidden;
}

li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    min-width: 118px;
    min-height: 118px;
    height: 30vw;
    width: 30vw;
    max-height: 12em;
    max-width: 12em;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    text-align: center;
}

ul li {
    margin: 1em;
}

li a {
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

li:nth-child(even) a {
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

li:nth-child(3n) a {
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

ul li:nth-child(5n) a {
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul li a:hover,
ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
}

ol {
    text-align: center;
}

ol li {
    display: inline;
    padding-right: 1em;
}

ol li a {
    color: #fff;
}


/* styling paper */

#paper {
    position: relative;
    height: 507px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
}


/* styling red vertical line */

#paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255, 0, 0, 0.6);
}


/* styling blue horizontal lines */

#pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}


/* styling text content */

#content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.my_text_area {
    background: transparent;
    color: transparent;
    resize: none;
    width: 100%;
    border: 0 none;
    outline: none;
    position: absolute;
}

textarea:focus {
    color: black;
}

.text-container {
    background: transparent;
    height: 100%;
    position: relative;
}